@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.success {
    position: relative;
    background: #4CAF50;
    max-width: 300px;
    height: 50px;
    margin: 0 auto 100px;
    padding: 5px;
    text-align: center;
    border-radius: 16px;
    border: 3px solid #000000;
}

.error {
    position: relative;
    background: #ef9a9a;
    max-width: 300px;
    height: 50px;
    margin: 0 auto 100px;
    padding: 5px;
    text-align: center;
    border-radius: 16px;
    border: 3px solid #000000;
}

.error_2lines {
    position: relative;
    background: #ef9a9a;
    max-width: 300px;
    height: 70px;
    margin: 0 auto 100px;
    padding: 5px;
    text-align: center;
    border-radius: 16px;
    border: 3px solid #000000;
}

.form {
    position: absolute;
    background: #A5D6A7;
    max-width: 300px;
    padding: 32px 32px 18px 32px;
    text-align: center;
    border-radius: 24px;
    border: 3px solid #000000;
}

.form input {
    font-family: "Ubuntu", sans-serif;
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 8px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 16px;
    border: 2px solid #000000;
}

button {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    padding: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0 0;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid #000000;
}

button:hover,
button:active,
button:focus {
    background: #43A047;
}

.success .message {
    margin: 15px 0 0;
    color: #000000;
    font-size: 18px;
}

.error .message {
    margin: 15px 0 0;
    color: #000000;
    font-size: 18px;
}

.error_2lines .message {
    margin: 15px 0 0;
    color: #000000;
    font-size: 18px;
}

.error_2lines .message a {
    margin: 15px 0 0;
    font-size: 18px;
    color: rgb(0, 89, 255);
    text-decoration: none;
}

.form .message {
    margin: 15px 0 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.form .message a {
    color: #179C3B;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.token {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 1em;
}

body {
    font: 15px Ubuntu, monospace;
    background: #E8F5E9;
}

.cookie-notice {
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: table;
    vertical-align: middle;
}

.cookie-notice-content {
    border-top: 3px solid #000;
    display: table-cell;
    padding-left: 16px;
    vertical-align: middle;

}

.cookie-notice-content button {
    display: inline-block;
    right: 32px;
    bottom: 16px;
    position: fixed;
    width: 128px;
    height: 48px;
    vertical-align: middle;
    text-align: center;
}

.cookie-notice-content p {
    width: calc(100vw - 110px)
}

.cookie-notice-content #cookie-n-text {
    display: table;
    left: 1%;
    bottom: 1%;
    position: fixed;
    width: 86%;
    height: 8%;
}

#cookie-n-text span {
    vertical-align: middle;
    display: table-cell;
}

@media only screen and (max-width: 850px) {
    .cookie-notice-content button {
        right: 18px;
        vertical-align: middle;
        width: 64px;
    }
}

@media only screen and (max-width: 400px) {
    .cookie-notice-content button {
        right: 18px;
        bottom: 8px;
        vertical-align: middle;
        width: 64px;
    }

    .form {
        padding: 32px 24px 12px 24px;
        left: 16px;
        right: 16px;
        width: auto;
    }

    #desc {
        display: none;
    }
}