@import '../setup_chat';

$bg-color: #FCE4EC;
$text-color: #000;
$border-color: #000;
$menu-color: #F06292;
$my-message-color: #F8BBD0;
$their-message-color: #fff;
$hightlight-color:  yellow;

@import '../chat/base';
