#chatinfo {
    $width: 60vw;
    position: absolute;
    width: $width;
    max-width: 512px;
    background: $bg-color;
    left: 50vw - ($width / 2);
    top: 46px;
    border: $border-color 2px solid;
    border-radius: 0px 0px 16px 16px;
    padding: 5px;
    color: $text-color;

    div#chatinfo_copylink_wrapper {
        text-align: center;

        button {
            display: inline-block;
            padding: 2px;
            width: 33%;
            font: 18px $font-family, monospace;
            font-weight: bold;
            border: $border-color 2px solid;
            border-radius: 4px;
            text-align: center;
        }

        #chatinfo_copylink {
            margin: 2px;
            background: $their-message-color;
        }

        #leavechat {
            margin: 2px 2px 2px 10%;
            background: rgba(255, 89, 89, .8);
        }
    }

    div#chatinfo_separator {
        width: calc(100% - 8px);
        background: $border-color;
        height: 2px;
        margin: 8px 4px;
    }

    ul#chatinfo_members {
        li {
            display: block;
            margin-left: 24px;

            img {
                display: inline-block;
                width: 10px;
                height: 10px;
            }

            span {
                font: 15px $font-family, monospace;
                font-weight: bold;
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}

.star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: $border-color;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid $border-color;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    position: absolute;
    left: 8px;
    transform: scale(0.6) rotate(180deg);
}

.star:before {
    border-bottom: 8px solid $border-color;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4px;
    left: -6px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star:after {
    position: absolute;
    display: block;
    color: $border-color;
    top: 1px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid $border-color;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.transparent {
    color: $bg-color;
    border-bottom-color: $bg-color;
}

.transparent:before {
    border-bottom-color: $bg-color;
}

.transparent:after {
    color: $bg-color;
    border-bottom-color: $bg-color;
}

.star-hover {
    color: lighten($border-color, 50);
    border-bottom-color: lighten($border-color, 50);
}

.star-hover:before {
    border-bottom-color: lighten($border-color, 50);
}

.star-hover:after {
    color: lighten($border-color, 50);
    border-bottom-color: lighten($border-color, 50);
}
