#separator-bottom {
    bottom: 0;
    height: 60px;
    width: 100px;
}

#message_send_form {
    display: flex;
    position: fixed;
    font: 18px $font-family, monospace;
    background: $their-message-color;
    color: $text-color;
    border-radius: 16px;
    border: 3px solid $border-color;
    margin: 8px;
    padding: 10px;
    max-height: 60vh;
    bottom: 0;
    left: 0;
    right: 0;
}

#user {
    font-weight: bold;
    margin-left: 4px;
    margin-right: 12px;
    cursor: default;
}

#m {
    flex: 1;
    resize: none;
    outline: none;
    border: none;
    font: inherit;
    font-size: 17px;
    height: 20px;
    line-height: 20px;
    background: inherit;
    color: inherit;
    margin-right: 8px;
    max-height: calc(60vh - 32px);
}

#send {
    background: url(/images/send.png) no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    @if $invert-images == true {
        filter: invert(100%);
        background-color: invert($their-message-color);
    }

    border: none;
}
