#separator-bottom {
    bottom: 0;
    height: 60px;
    width: 100px;
}


#message_send_form {
    display: block;
    position: fixed;
    font: 18px $font-family, monospace;
    background: $their-message-color;
    color: $text-color;
    border-radius: 16px;
    border: 3px solid $border-color;
    margin: 8px;
    padding: 10px;
    height: 44px;
    max-height: 60vh;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

#user {
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    font: 18px $font-family, monospace;
    color: $text-color;
    display: inline;
    font-weight: bold;
    vertical-align: top;
    margin-left: 4px;
    cursor: default;
}

input,
button,
textarea {
    outline: none;
}

#m {
    resize: none;
    font: 18px $font-family, monospace;
    border: none;
    width: calc(100vw - 180px);
    height: 24px;
    line-height: 18px;
    bottom: 0;
    background: inherit;
    color: $text-color;
}

#m-username {
    vertical-align: top;
}

#send {
    display: table-cell;
    position: absolute;
    white-space: nowrap;
    font: 16px $font-family, monospace;
    width: 20px;
    height: 20px;
    right: 8px;
    bottom: 8px;
    background: url(/images/send.png) no-repeat;
    background-color: $their-message-color;
    cursor: pointer;

    @if $invert-images == true {
        filter: invert(100%);
        background-color: invert($their-message-color);
    }

    background-size: 20px;
    background-position: center;
    border: none;
}