
#messages {
    list-style-type: none;
}

.message {
  display: flex;
  font: 16px $font-family, monospace;
  padding: 8px;
  border: 2px solid $border-color;
  color: $text-color;
  white-space: pre-wrap;
  overflow: hidden;
  transition: all .1s ease-in-out;

  .profileImage {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
  }

  .username {
    margin-right: 12px;
  }

  .message_body {
    overflow: auto;
    overflow-wrap: break-word;
    margin-right: 16px;
    line-height: 20px;

    img {
      display: block;
      max-width: 100%;
      max-height: 256px;
    }
  }

  .time {
    margin-left: auto;
    float: right;
    color: $text-color;
  }
}
.myMessage {
    margin: 12px 24px 0px 128px;
    border-radius: 16px 4px 16px 16px;
    background: $my-message-color;
}

.myMessageLeft {
    margin: 12px 88px 0px 64px;
}

.theirMessage {
    margin: 12px 128px 0px 24px;
    border-radius: 4px 16px 16px 16px;
    background: $their-message-color;
}

.theirMessageLeft {
    margin: 12px 192px 0px -40px;
}

#messages li.date {
    margin-top: 16px;
    border-radius: 0;
    border: 0;
    background: 0;
    text-align: center;
    color: $text-color;
}

.MD-spoiler {
    padding: 1px;
    border-radius: 4px;
    display: inline-block;
}

.spoiler-hidden {
    background: $text-color;
    * {
        visibility: hidden;
    }
}

.spoiler-seen {
    background: inherit;
}

.MD-img{
    max-width: 256px;
    max-height: 256px;
}

.highlight_message {
    background-color: $hightlight-color;
}
