
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: absolute;
    top: calc(50% - 5em - 72px);
    left: calc(50% - 5em);
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    text-indent: -9999em;
    border: 1.3em solid rgba($menu-color, 0.2);
    border-left: 1.3em solid $menu-color;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.3s infinite linear;
    animation: load8 1.3s infinite linear;
}

#loading-oldmessages,
#loading-oldmessages:after {
    position: static;
    width: 5em;
    height: 5em;
    border: 1em solid rgba($menu-color, 0.2);
    border-left: 1em solid $menu-color;
    left: calc(50% - 2.5em);
}

#loading-oldmessages {
    margin: 24px auto;
    font-size: 10px;
}
