@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px "PT Sans", Sans-Serif;
    background: #111;
}

#space {
    height: 50px;
}

#settings {
    display: inline-block;
    position: fixed;
    font: 18px "PT Sans", Sans-Serif;
    background: url(/images/settings.png) no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: #333;
    color: #fff;
    border-radius: 16px;
    border: None;
    margin: 8px;
    width: 44px;
    height: 44px;
    bottom: 0;
    right: 0;
}

form {
    display: block;
    position: fixed;
    font: 18px "PT Sans", Sans-Serif;
    background: #333;
    color: #fff;
    border-radius: 16px;
    border: None;
    margin: 8px;
    padding: 10px;
    height: 44px;
    width: auto;
    bottom: 0%;
    float : left;
}

#message_send_form {
    left: 4px;
    right: 64px;
}

#user {
    display: table-cell;
    white-space: nowrap;
    width: auto;
    font: 18px "PT Sans", Sans-Serif;
    color: #fff;
    display: inline-block;
}

input, button, textarea { 
    outline: none; 
}

form input {
    background-color: inherit;
    color: #fff;
    display: table-cell;
    white-space: nowrap;
    font: 18px "PT Sans", Sans-Serif;
    border: none;
    width: calc(100vw - 180px);
}

form button {
    display: table-cell;
    white-space: nowrap;
    font: 16px "PT Sans", Sans-Serif;
    float: right;
    width: 20px;
    height: 20px;
    right: 0px;
    background: url(/images/send.png) no-repeat;
    background-color: #333;
    background-size: 20px;
    background-position: center;
    border: none;
}

#messages {
    font: 16px "PT Sans", Sans-Serif;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#myMessage {
    font: 16px "PT Sans", Sans-Serif;
    margin: 100px 10px 100px;
    padding: 5px 10px 5px 0px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}


#messages li {
    font: 16px "PT Sans", Sans-Serif;
    margin: 12px 24px 12px 128px;
    padding: 8px;
    border: None;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 16px 4px 16px 16px;
    white-space: pre-wrap;
    min-height: 36px;
    overflow: hidden;
}

.time {
    position: absolute;
    right: 0;
    margin: 0px 32px 0px 4px;
    color: #fff;
}

#messages li.date {
    border-radius: 0;
    border: 0;
    background: 0;
    text-align: center;
}

#rightclick {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: None;
    white-space: nowrap;
    background: #222;
    color: #fff;
    padding: 3px 0;
    border-radius: 3px;
}

#rightclick li {
    padding: 5px 8px;
    cursor: pointer;
}

#rightclick li:hover {
    background-color: #DEF;
}

.quote {
    padding: 1px 2px;
    color: #fff;
    display: inline-block;
    margin: 4px 0px;
}

#myBtn {
    display: block;
    position: fixed;
    bottom: 55px;
    right: 3px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #8DC26F;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #90EE90;
}

.modal {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    color: #000;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    height: 65%;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: #5cb85c;
    color: white;
    height: 25px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#save_form {
    bottom: 10px;
    position: absolute;
    width: 20%;
}

#save {
    font: 16px "PT Sans", Sans-Serif;
    width: 100%;
    background: green;
    border: none;
    padding: 10px;
}

#logout {
    font: 16px "PT Sans", Sans-Serif;
    width: 100%;
    background: rgba(255, 89, 89, 0.8);
    border: none;
    padding: 10px;
}

#logout_form {
    bottom: 10px;
    position: absolute;
    width: 20%;
}

.desk {
    float: right;
    width: 50%;
}

.web {
    float: left;
    width: 49%;
}

.space {
    display: inline-block;
    border-left: 6px solid #8DC26F;
    height: 500px;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.sse {
    float: left;
    width: 50%;
}

.lou {
    float: right;
    width: 50%;
}

option[value="always"] {
    background: #88ff88;
}

option[value="tagged"] {
    background: #edff88;
}

option[value="never"] {
    background: #ff8888;
}

.one {
    float: left;
    width: 40%;
}

.two {
    float: right;
    width: 40%;
}

.tnot {
    margin-top: 10px;
}

.not {
    margin-top: 5px;
}

.tcol {
    margin-top: 10px;
}

.col {
    margin-top: 5px;
}

.tpic {
    margin-top: 10px;
}

.pic {
    margin-top: 5px;
}

.tchp {
    margin-top: 10px;
}

#old {
    margin-top: 5px;
    margin-right: 5px;
}

#new {
    margin-top: 10px;
    margin-right: 5px;
}

#repeat {
    margin-top: 10px;
}

#Dth {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

#tik {
    float: left;
    margin-top: 12px
}

.space2 {
    display: inline-block;
    height: 500px;
}

#chat_prof_pic {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
}

textarea#editing {
    border: none;
    font: italic 15px "PT Sans", Sans-Serif;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    display: inline;
}

span.message_body {
    display: inline-block;
    position: absolute;
    width: calc(100vw - 300px)
}

span {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideOut {
    from {
        bottom: 0;
        opacity: 1
    }
    to {
        bottom: -300px;
        opacity: 0
    }
}


@media only screen and (max-width: 600px) {
    #messages li {
        font: 16px "PT Sans", Sans-Serif;
        margin: 12px 24px 12px 64px;
        padding: 8px;
        white-space: pre-wrap;
    }

    span.message_body {
        display: inline-block;
        position: absolute;
        width: calc(100vw - 220px)
    }
  }
