* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px Ubuntu Mono, monospace;
    background: #E8F5E9;
}

#space {
    height: 50px;
}

#image {
    display: inline-block;
    margin-left: 16px
}

#settings {
    display: inline-block;
    position: fixed;
    font: 18px Ubuntu Mono, monospace;
    background: url(/images/settings.png) no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: #fff;
    color: #000;
    border-radius: 16px;
    border: 3px solid #000000;
    margin: 8px;
    width: 44px;
    height: 44px;
    bottom: 0;
    right: 0;
}

#message_send_form {
    display: block;
    position: fixed;
    font: 18px Ubuntu Mono, monospace;
    background: #fff;
    color: #000;
    border-radius: 16px;
    border: 3px solid #000000;
    margin: 8px;
    padding: 10px;
    height: 44px;
    width: auto;
    bottom: 0%;
    float : left;
}

#message_send_form {
    left: 4px;
    right: 64px;
}

#separator {
    bottom: 0;
    height: 64px;
}

#user {
    overflow: hidden;
    white-space: nowrap;
    font: 18px Ubuntu Mono, monospace;
    color: #000;
    display: inline;
    font-weight: bold;
    margin-left: 4px
}

input, button, textarea { 
    outline: none; 
}

/*#editing {
    display: table-cell;
    white-space: nowrap;
    font: 16px Ubuntu Mono, monospace;
    font-style: italic;
    border: none;
    width: calc(100vw - 180px);
    background: #C8E6C9;
}*/

#m {
    display: table-cell;
    white-space: nowrap;
    font: 18px Ubuntu Mono, monospace;
    border: none;
    width: calc(100vw - 180px);
}

#send {
    display: table-cell;
    white-space: nowrap;
    font: 16px Ubuntu Mono, monospace;
    float: right;
    width: 20px;
    height: 20px;
    right: 0px;
    background: url(/images/send.png) no-repeat;
    background-color: #fff;
    background-size: 20px;
    background-position: center;
    border: none;
}

#messages {
    list-style-type: none;
}

.myMessage {
    font: 16px Ubuntu Mono, monospace;
    margin: 12px 24px 0px 128px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 16px 4px 16px 16px;
    background: #C8E6C9;
    white-space: pre-wrap;
    min-height: 36px;
    overflow: hidden;
}

.theirMessage {
    font: 16px Ubuntu Mono, monospace;
    margin: 12px 128px 0px 24px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 4px 16px 16px 16px;
    background: #FFF;
    white-space: pre-wrap;
    min-height: 36px;
    overflow: hidden;
}

.myTime {
    position: absolute;
    right: 0;
    margin: 0px 32px 0px 4px;
    color: #000;
}

.theirTime {
    position: absolute;
    right: 0;
    margin: 0px 140px 0px 4px;
    color: #000;
}

#messages li.date {
    margin-top: 16px;
    border-radius: 0;
    border: 0;
    background: 0;
    text-align: center;
}

#rightclick {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    padding: 3px 0;
    border-radius: 3px;
}

#rightclick li {
    padding: 5px 8px;
    cursor: pointer;
}

#rightclick li:hover {
    background-color: #DEF;
}

.quote {
    padding: 1px 2px;
    color: #000000;
    display: inline-block;
    margin: 4px 0px;
}

.modal {
    font: 16px Ubuntu Mono, monospace;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

#modal-content {
    margin: 10vh 64px;
    border: 3px solid #000;
    border-radius: 16px;
    position: fixed;
    bottom: 0;
    background-color: #E8F5E9;
    color: black;
    width: calc(100vw - 128px);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    height: 550px;
}

.close {
    color: #fff;
    float: right;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.close:hover, .close:focus {
    color: #EF5350;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-bottom: 3px solid #000;
    border-radius: 13px 13px 0 0;
    background-color: #66BB6A;
    height: 36px;
}

.modal-body {
    padding: 2px 16px;
}


#save {
    float: left;
    left: 96px;
    width: 150px;
    bottom: 10px;
    position: absolute;
    font: 16px Ubuntu Mono, monospace;
    background: #66BB6A;
    border: 2px solid #000;
    border-radius: 16px ;
    padding: 8px;
    font-weight: bold;
}

#logout {
    float: left;
    left: 272px;
    width: 150px;
    bottom: 10px;
    position: absolute;
    font: 16px Ubuntu Mono, monospace;
    background: rgba(255, 89, 89, 0.8);
    border: 2px solid #000;
    border-radius: 16px ;
    padding: 8px;
    font-weight: bold;
}

.desk {
    float: right;
    width: 50%;
}

.web {
    float: left;
    width: 49%;
}

.space {
    display: inline-block;
    border-left: 6px solid #8DC26F;
    height: 500px;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

option[value="always"] {
    background: #88ff88;
}

option[value="tagged"] {
    background: #edff88;
}

option[value="never"] {
    background: #ff8888;
}

.one {
    font: 24px Ubuntu Mono, monospace;
    color: #FFF;
    float: left;
    width: 40%;
    margin-top: 4px;
    margin-left: 48px;
}

.two {
    float: right;
    width: 40%;
}

#notselect {
    width: 128px;
    height: 32px;
    margin: 5px 0 0 64px;
    border: 2px solid #000;
    border-radius: 8px;
    font: 16px Ubuntu Mono, monospace;
}

.setting {
    display:inline-block;
    margin: 32px;
    font-weight: bold
}

.space2 {
    display: inline-block;
    height: 500px;
}

#chat_prof_pic {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
}

#color {
    text-align: center;
    font: 16px Ubuntu Mono, monospace;
    border: 2px solid #000;
    border-radius: 8px;
    display: inline-block;
    width: 72px;
    height: 32px;
    margin-left: 32px;
}

#chpswd {
    position: absolute;
    top: 270px;
    left: 16px;
}

.pswd {
    display: block;
    position: relative;
    padding-left: 8px;
    font: 16px Ubuntu Mono, monospace;
    border: 2px solid #000;
    border-radius: 8px;
    width: 150px;
    height: 32px;
    margin: 0 16px 8px 240px;
}

textarea#editing {
    border: none;
    font: italic 15px Ubuntu Mono, monospace;
    border: none;
    width: calc(95vw - 180px);
    background: #C8E6C9;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    /*display: inline;*/
}

span.message_body {
    display: inline-block;
    position: absolute;
    width: calc(100vw - 300px)
}

span {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideOut {
    from {
        bottom: 0;
        opacity: 1
    }
    to {
        bottom: -300px;
        opacity: 0
    }
}

@media only screen and (max-width: 1000px) {
    .web {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {

    span.message_body {
        width: calc(100vw - 140px)
    }

    #chat_prof_pic {
        margin-left: 0
    }

    #message_send_form {
        border: 3px solid #000000;
        width: 90%
    }

    #m {
        width: 87%
    }

    #send {
        width: 16px;
        height: 16px;
        background-size: 16px;
        margin-top: 2px
    }

    #user, #settings {
        display: none;
    }

    .myMessage {
        font: 15px Ubuntu Mono, monospace;
        margin: 8px 8px 0px 32px;
        border-radius: 12px 4px 12px 12px;
    }
    
    .theirMessage {
        font: 14px Ubuntu Mono, monospace;
        margin: 8px 32px 0px 8px;
        border-radius: 4px 12px 12px 12px;
    }
    
    .myTime {
        position: absolute;
        right: 0;
        margin: 0px 12px 0px 4px;
        width: 38px;
        height: 16px;
        overflow: hidden;
        color: #000;
        font-size: 14px;
    }
    
    .theirTime {
        position: absolute;
        right: 0;
        margin: 0px 36px 0px 4px;
        width: 38px;
        height: 16px;
        overflow: hidden;
        color: #000;
    }
}