/*#5cb85c*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px Ubuntu Mono, monospace;
}

#footer {
    background: #111;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

form {
    display: inline-block;
}

#message_send_form {
    width: 90%;
}

#user {
    width: 10%;
    font: 18px Ubuntu Mono, monospace;
    color: #fff;
    display: inline-block;
    text-align: right
}

form input {
    font: 18px Ubuntu Mono, monospace;
    background: #222;
    color: #FFF;
    border: 0;
    padding: 15px;
    width: 75%;
}

form button {
    font: 16px Ubuntu Mono, monospace;
    width: 12%;
    background: rgba(53, 167, 59, 0.8);
    border: none;
    padding: 10px;
}

#settings {
    font: 16px Ubuntu Mono, monospace;
    background: #1E90FF;
    border: none;
    padding: 10px;
    width: 9%;
}

#messages {
    font: 16px Ubuntu Mono, monospace;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#messages li {
    font: 16px Ubuntu Mono, monospace;
    padding: 5px 10px 5px 0px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    height: 26px;
}

#messages li:nth-child(odd) {
    font: 16px Ubuntu Mono, monospace;
    background: #eee;
}

#space {
    height: 50px;
}

.time {
    position: absolute;
    right: 1%;
    color: #333333;
}

#messages li.date {
    background: #ccf;
    text-align: center;
}

#rightclick {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    padding: 3px 0;
    border-radius: 3px;
}

#rightclick li {
    padding: 5px 8px;
    cursor: pointer;
}

#rightclick li:hover {
    background-color: #DEF;
}

.quote {
    padding: 1px 2px;
    color: #000000;
    display: inline-block;
    margin: 4px 0px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 3px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #8DC26F;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #90EE90;
}

.modal {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    color: black;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    height: 65%;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: #5cb85c;
    color: white;
    height: 25px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#save_form {
    bottom: 10px;
    position: absolute;
    width: 20%;
}

#save {
    font: 16px Ubuntu Mono, monospace;
    width: 100%;
    background: green;
    border: none;
    padding: 10px;
}

#logout {
    font: 16px Ubuntu Mono, monospace;
    width: 100%;
    background: rgba(255, 89, 89, 0.8);
    border: none;
    padding: 10px;
}

#logout_form {
    bottom: 10px;
    position: absolute;
    width: 20%;
}

.desk {
    float: right;
    width: 50%;
}

.web {
    float: left;
    width: 49%;
}

.space {
    display: inline-block;
    border-left: 6px solid #8DC26F;
    height: 500px;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.sse {
    float: left;
    width: 50%;
}

.lou {
    float: right;
    width: 50%;
}

option[value="always"] {
    background: #88ff88;
}

option[value="tagged"] {
    background: #edff88;
}

option[value="never"] {
    background: #ff8888;
}

.one {
    float: left;
    width: 40%;
}

.two {
    float: right;
    width: 40%;
}

.tnot {
    margin-top: 10px;
}

.not {
    margin-top: 5px;
}

.tcol {
    margin-top: 10px;
}

.col {
    margin-top: 5px;
}

.tpic {
    margin-top: 10px;
}

.pic {
    margin-top: 5px;
}

.tchp {
    margin-top: 10px;
}

#old {
    margin-top: 5px;
    margin-right: 5px;
}

#new {
    margin-top: 10px;
    margin-right: 5px;
}

#repeat {
    margin-top: 10px;
}

#Dth {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

#tik {
    float: left;
    margin-top: 12px
}

.space2 {
    display: inline-block;
    height: 500px;
}

#chat_prof_pic {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes slideOut {
    from {
        bottom: 0;
        opacity: 1
    }
    to {
        bottom: -300px;
        opacity: 0
    }
}

@keyframes slideOut {
    from {
        bottom: 0;
        opacity: 1
    }
    to {
        bottom: -300px;
        opacity: 0
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}