* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 15px Ubuntu Mono, monospace;
}

form {
	background: #111;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%
}

#user {
  width: 10%;
  font: 18px Ubuntu Mono, monospace;
	color: #fff;
	display: inline-block;
	text-align: right
}

form input {
  font: 18px Ubuntu Mono, monospace;
  background: #222;
  color: #FFF;
  border: 0;
	padding: 15px;
	width: 75%;
}

form button {
  font: 16px Ubuntu Mono, monospace;
	width: 8.5%;
	background: rgba(53, 167, 59, 0.8);
	border: none;
	padding: 10px;
}

#logout {
  font: 16px Ubuntu Mono, monospace;
	width: 5%;
	background: rgba(255, 89, 89, 0.8);
	border: none;
	padding: 10px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#space {
	height: 41px;
}

.time {
	position: absolute;
	right: 1%;
	color: #333333;
}

#messages li.date {
	background: #ccf;
	text-align: center;
}

#rightclick {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	background: #FFF;
	color: #333;
	padding: 3px 0;
	border-radius: 3px;
}

#rightclick li {
	padding: 5px 8px;
	cursor: pointer;
}

#rightclick li:hover {
	background-color: #DEF;
}

.quote {
	border: 1px #000000 solid;
	background: #e0e0e0;
	color: #000000;
}

.quote:before {
	content: "";
	border: 1px #368 solid;
}