.modal {
    font-family: Arial, Helvetica, sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  color: black;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #5cb85c;
  color: white;
  height: 25px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

#save_form{
    bottom:10px;
    position: absolute;
  width: 20%;
}

#save{
  font: 16px Ubuntu Mono, monospace;
	width: 100%;
	background: green;
	border: none;
	padding: 10px;
}

#logout {
  font: 16px Ubuntu Mono, monospace;
	width: 100%;
	background: rgba(255, 89, 89, 0.8);
	border: none;
	padding: 10px;
}

#logout_form {
    bottom:10px;
    position: absolute;
  width: 20%;
}

.desk{
  float:right;
  width: 50%;
}

.web{
  float:left;
  width: 49%;
}

.space {
  display: inline-block;
  border-left: 6px solid #8DC26F;
  height: 500px;
}

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

.sse{
  float:left;
  width: 50%;
}

.lou{
  float:right;
  width: 50%;
}

option[value="always"]{
    background: #88ff88;
}

option[value="tagged"]{
    background: #edff88;
}

option[value="never"]{
    background: #ff8888;
}

.one{
    float:left;
    width: 40%;
}

.two{
	float:right;
    width: 40%;
}

.tnot{
	margin-top: 10px;
}

.not{
	margin-top: 5px;
}

.tcol{
	margin-top: 10px;
}

.col{
	margin-top: 5px;
}

.tpic{
	margin-top: 10px;
}


.pic{
	margin-top: 5px;
}

.tchp{
	margin-top: 10px;
}

#old{
	margin-top: 5px;
	margin-right: 5px;
}

#new{
	margin-top: 10px;
	margin-right: 5px;
}

#repeat{
	margin-top: 10px;
}

#Dth{
	float:left;
	margin-top: 10px;
	margin-right: 5px;
}

#tik{
	float:left;
	margin-top: 12px
}
