$invert-images: false;
$bg-color: #E8F5E9;
$font-family: 'Ubuntu Mono';
$text-color: #000;
$border-color: #000;
$menu-color: #66BB6A;
$my-message-color: #C8E6C9;
$their-message-color: #fff;
$hightlight-color:  yellow;
