* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px Ubuntu Mono, monospace;
    background: rgb(44, 44, 44);
}

#space {
    height: 50px;
}

#image {
    display: inline-block;
    margin-left: 16px
}

#settings {
    display: inline-block;
    position: fixed;
    font: 18px Ubuntu Mono, monospace;
    background: url(/images/settings.png) no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: rgb(155, 155, 155);
    color: #fff;
    border-radius: 16px;
    border: 3px solid #fff;
    margin: 8px;
    width: 44px;
    height: 44px;
    bottom: 0;
    right: 0;
    filter: invert(100%);
}

#message_send_form {
    display: block;
    position: fixed;
    font: 18px Ubuntu Mono, monospace;
    background: rgb(100, 100, 100);
    color: #fff;
    border-radius: 16px;
    border: 3px solid #000;
    margin: 8px;
    padding: 10px;
    height: 44px;
    width: auto;
    bottom: 0%;
    float: left;
}

#message_send_form {
    left: 4px;
    right: 64px;
}

#separator-top {
    top: 0;
    height: 48px;
    width: 100%;
}

#separator-bottom {
    bottom: 0;
    height: 64px;
}

#user {
    overflow: hidden;
    white-space: nowrap;
    font: 18px Ubuntu Mono, monospace;
    color: #fff;
    display: inline;
    font-weight: bold;
    margin-left: 4px
}

input,
button,
textarea {
    outline: none;
}

textarea#editing {
    border: none;
    color: #fff;
    font: italic 15px Ubuntu Mono, monospace;
    border: none;
    width: calc(95vw - 180px);
    background: rgb(66, 95, 67);
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

#m {
    background: rgb(100, 100, 100);
    display: table-cell;
    white-space: nowrap;
    font: 18px Ubuntu Mono, monospace;
    border: none;
    color: #fff;
    width: calc(100vw - 180px);
}

#send {
    display: table-cell;
    white-space: nowrap;
    font: 16px Ubuntu Mono, monospace;
    float: right;
    width: 20px;
    height: 20px;
    right: 0px;
    background: url(/images/send.png) no-repeat;
    background-size: 20px;
    background-position: center;
    border: none;
    filter: invert(100%);
}

#messages {
    list-style-type: none;
}

.message {
    font: 16px Ubuntu Mono, monospace;
    padding: 8px;
    border: 2px solid #000;
    white-space: pre-wrap;
    min-height: 36px;
    overflow: hidden;
}

.myMessage {
    margin: 12px 24px 0px 128px;
    border-radius: 16px 4px 16px 16px;
    background: rgb(66, 95, 67);
    color: #fff;
}

.theirMessage {
    margin: 12px 128px 0px 24px;
    border-radius: 4px 16px 16px 16px;
    background: rgb(100, 100, 100);
    color: #fff;
}

.myTime {
    position: absolute;
    right: 0;
    margin: 0px 32px 0px 4px;
    color: #fff;
}

.theirTime {
    position: absolute;
    right: 0;
    margin: 0px 140px 0px 4px;
    color: #fff;
}

#messages li.date {
    margin-top: 16px;
    border-radius: 0;
    border: 0;
    background: 0;
    text-align: center;
    color: #fff;
}

#rightclick {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 2px solid #000;
    white-space: nowrap;
    background: rgb(80, 80, 80);
    color: #fff;
    border-radius: 8px;
}

#rightclick li {
    padding: 6px 8px;
    cursor: pointer;
}

#rightclick li:hover {
    background-color: rgb(100, 100, 100);
}

.quote {
    padding: 1px 2px;
    color: #000000;
    display: inline-block;
    margin: 2px;
    margin-bottom: 12px;
}

.modal {
    font: 16px Ubuntu Mono, monospace;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

#modal-content {
    margin: 10vh 64px;
    border: 3px solid #000;
    border-radius: 16px;
    position: fixed;
    bottom: 0;
    background-color: rgb(80, 80, 80);
    color: black;
    width: calc(100vw - 128px);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    height: 550px;
}

.close {
    color: #fff;
    float: right;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #EF5350;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-bottom: 3px solid #000;
    border-radius: 13px 13px 0 0;
    background-color: rgb(44, 44, 44);
    height: 36px;
}

.modal-body {
    padding: 2px 16px;
}

#save {
    float: left;
    left: 96px;
    width: 150px;
    bottom: 10px;
    position: absolute;
    font: 16px Ubuntu Mono, monospace;
    background: #66BB6A;
    border: 2px solid #000;
    border-radius: 16px;
    padding: 8px;
    font-weight: bold;
}

#logout {
    float: left;
    left: 272px;
    width: 150px;
    bottom: 10px;
    position: absolute;
    font: 16px Ubuntu Mono, monospace;
    background: rgba(255, 89, 89, 0.8);
    border: 2px solid #000;
    border-radius: 16px;
    padding: 8px;
    font-weight: bold;
}

.desk {
    float: right;
    width: 50%;
}

.web {
    float: left;
    width: 49%;
}

.space {
    display: inline-block;
    border-left: 6px solid #8DC26F;
    height: 500px;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

option[value="always"] {
    background: #88ff88;
}

option[value="tagged"] {
    background: #edff88;
}

option[value="never"] {
    background: #ff8888;
}

.one {
    font: 24px Ubuntu Mono, monospace;
    color: #FFF;
    float: left;
    width: 40%;
    margin-top: 4px;
    margin-left: 48px;
}

.two {
    float: right;
    width: 40%;
}

#notselect {
    width: 128px;
    height: 32px;
    margin: 5px 0 0 64px;
    border: 2px solid #000;
    border-radius: 8px;
    font: 16px Ubuntu Mono, monospace;
}

.setting {
    display: inline-block;
    margin: 32px;
    font-weight: bold;
    color: #fff
}

.space2 {
    display: inline-block;
    height: 500px;
}

#chat_prof_pic {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
}

#color {
    text-align: center;
    font: 16px Ubuntu Mono, monospace;
    border: 2px solid #000;
    border-radius: 8px;
    display: inline-block;
    width: 72px;
    height: 32px;
    margin-left: 32px;
}

#chpswd {
    position: absolute;
    top: 270px;
    left: 16px;
}

.pswd {
    display: block;
    position: relative;
    padding-left: 8px;
    font: 16px Ubuntu Mono, monospace;
    border: 2px solid #000;
    border-radius: 8px;
    width: 150px;
    height: 32px;
    margin: 0 16px 8px 240px;
    color: #FFF;
    background-color: rgb(50, 50, 50);
}

textarea#editing {
    border: none;
    font: italic 15px Ubuntu Mono, monospace;
    border: none;
    width: calc(95vw - 180px);
    background: rgb(66, 95, 67);
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

span.message_body {
    display: inline-block;
    position: absolute;
    width: calc(100vw - 300px)
}

span {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.highlight_message {
    background-color: #ffff00;
}

/*Top bar and Sidebar*/

#sidebarbtn {
    display: inline-block;
    background: url(/images/menu.png) no-repeat;
    background-size: 28px;
    background-position: center;
    z-index: 8;
    height: 42px;
    width: 42px;
    margin: 2px 8px;
    padding: 0 3px;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    filter: invert(100%);
}

#sidebarbtn:hover {
    background-color: #cea5ce;
    transition: all .2s ease-in-out;
}

#menutop {
    height: 48px;
    background: rgb(61, 110, 62);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid #000;
}

#title {
    position: absolute;
    display: inline-block;
    width: calc(100vw - 72px);
    top: 4px;
    left: 54px;
    text-align: center
}

#chatimg {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    vertical-align: middle;
    margin: 4px;
    padding: 1px;
}

#chatname {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

/* The side navigation menu */

#sidebar {
    border-right: 3px solid #000;
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1002;
    top: 0;
    left: -300px;
    background: rgb(61, 110, 62);
    overflow-x: hidden;
    padding: 8px;
    transition: all .33s ease-in-out;
}

#sidebar-header {
    text-align: center;
    color: #fff;
    padding-top: 48px;
    padding-bottom: 16px;
}

#darkoverlay {
    display: none;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.chatselect {
    background: rgb(61, 110, 62);
    transition: all .2s ease-in-out;
    padding: 6px;
    font-size: 25px;
    overflow-x: hidden;
    border-radius: 24px;
}

.chatselect:hover {
    background: rgb(49, 90, 49);
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: absolute;
    top: calc(50% - 5em - 72px);
    left: calc(50% - 5em);
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    text-indent: -9999em;
    border: 1.3em solid #74757432;
    border-left: 1.3em solid #747574;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.3s infinite linear;
    animation: load8 1.3s infinite linear;
}

#loading-oldmessages,
#loading-oldmessages:after {
    position: static;
    width: 5em;
    height: 5em;
    border: 1em solid #74757432;
    border-left: 1em solid #747574;
    left: calc(50% - 2.5em);
}
#loading-oldmessages{
    margin: 24px auto;
    font-size: 10px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideOut {
    from {
        bottom: 0;
        opacity: 1
    }

    to {
        bottom: -300px;
        opacity: 0
    }
}

@media only screen and (max-width: 1000px) {
    .web {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    span.message_body {
        width: calc(100vw - 130px)
    }

    #message_send_form {
        border: 3px solid #000000;
        width: calc(100vw - 24px)
    }

    #m {
        width: calc(100vw - 72px)
    }

    #send {
        width: 16px;
        height: 16px;
        background-size: 16px;
        margin-top: 2px
    }

    #user,
    #settings {
        display: none;
    }

    .message {
        font: 15px Ubuntu Mono, monospace;
    }


    .myMessage {
        margin: 8px 8px 0px 32px;
        border-radius: 12px 4px 12px 12px;
    }

    .theirMessage {
        margin: 8px 32px 0px 8px;
        border-radius: 4px 12px 12px 12px;
    }

    .myTime {
        position: absolute;
        right: 0;
        margin: 0px 12px 0px 4px;
        width: 38px;
        height: 16px;
        overflow: hidden;
        color: #000;
        font-size: 14px;
    }

    .theirTime {
        position: absolute;
        right: 0;
        margin: 0px 36px 0px 4px;
        width: 38px;
        height: 16px;
        overflow: hidden;
        color: #000;
    }
}