// Blue (Dark)
@import '../setup_chat';

$bg-color: #040e1a;
$text-color: #fff;
$border-color: #000;
$menu-color: #164072;
$my-message-color: #113057;
$their-message-color: #2a3543;
$hightlight-color: #ffff00;
$invert-images: true;

@import '../chat/base';
