// Grayscale
@import '../setup_chat';

$bg-color: #EAEAEA;
$text-color: #000;
$border-color: #000;
$menu-color: #5F5F5F;
$my-message-color: #9E9E9E;
$their-message-color: #CECECE;
$hightlight-color:  #fff;

@import '../chat/base';