@import '../setup_chat';

$bg-color: #2c2c2c;
$text-color: #fff;
$alt-text-color: #fff;//#646464;
$border-color: #000;
$menu-color: #3d6e3e;
$my-message-color: #425f43;
$their-message-color: #646464;
$hightlight-color: #ffff00;
$invert-images: true;

@import '../chat_base';
