// NEW Orange
@import '../setup_chat';

$bg-color: #eecc99;
$text-color: #000;
$alt-text-color: #fff;
$border-color: #000;
$menu-color: #cea345;
$my-message-color: #fdcd84;
$their-message-color: #fff;
$hightlight-color:  yellow;

@import '../chat_base';