// Orange (Dark)
@import '../setup_chat';

$bg-color: #2c2c2c;
$text-color: #fff;
$alt-text-color: #fff;//#646464
$border-color: #000;
$menu-color: #966022;
$my-message-color: #ac670e;
$their-message-color: #646464;
$hightlight-color:  yellow;
$invert-images: true;

@import '../chat/base';