// Orange
@import '../setup_chat';

$bg-color: #FFF3E0;
$text-color: #000;
$border-color: #000;
$menu-color: #FFA726;
$my-message-color: #FFCC80;
$their-message-color: #fff;
$hightlight-color:  yellow;

@import '../chat_base';