// Red (Dark)
@import '../setup_chat';

$bg-color: #2c2c2c;
$text-color: #fff;
$border-color: #000;
$menu-color: #921a1a;
$my-message-color: #804e4e;
$their-message-color: #646464;
$hightlight-color:  yellow;
$invert-images: true;

@import '../chat/base';