// Red
@import '../setup_chat';

$bg-color: #fde3e3;
$text-color: #000;
$alt-text-color: #fff;
$border-color: #000;
$menu-color: #fa5959;
$my-message-color: #fbbbbb;
$their-message-color: #fff;
$hightlight-color:  yellow;

@import '../chat_base';