// Yellow
@import '../setup_chat';

$bg-color: #FFFFE3;
$text-color: #000;
$border-color: #000;
$menu-color: #FFFF10;
$my-message-color: #FFFF95;
$their-message-color: #FFFF49;
$hightlight-color:  #983EC1;

@import '../chat/base';