<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>404 - Not Found</title>
  <style>
  @import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
  body {
    position: relative;
    width: 100%;
    display: block;
    font-family: "Ubuntu", sans-serif;
  }

  body > *  {
    margin: auto;
    width: 90%;
    max-width: 512px;
    display: block;
    overflow: auto;
  }
  </style>
</head>

<body>
	<h1>404 - Not Found</h1>
	<p>The path <code>{{path}}</code> was not found on this server.</p>
	<img src="/images/harold.jpg">
</body>

</html>
